.btn{
    background-color: #FF6410;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
.logo{
    background-image: url(./assets/svg/one-engage-logo.svg);
    height: 44px;
    width: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}